@font-face {
  font-family: AsparagusSprouts;
  src: url('AsparagusSprouts.ttf');
}

body {
  background-color: lightblue;
}

nav {
  background-color: tan;
  padding: 10px;
}

nav .btn {
  background-color: blue;
  color: white;
}

nav .btn:visited,
nav .fa:visited {
  color: gray;
}

nav .btn:hover,
nav .fa:hover {
  font-weight: bold;
  color: black;
}

nav .fa {
  color: blue;
}

header,
footer {
  font-family: AsparagusSprouts, Arial, sans-serif;
  font-size: 75px;
  background-color: tan;
}

footer {
  font-size: 25px;
}

hr {
  color: lightgray;
}

.jumbotron {
  color: blue;
  background-color: rgb(157, 157, 216);
  font-size: 45px;
  text-align: center;
  height: 250px;
}

.carousel {
  padding-bottom: 15px;
  color: black;
}

#help-block {
  display: block;
}
